<form action="{% url 'payment_success' %}" method="POST">
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="{{ payment.key }}"
        data-amount="{{ payment.amount }}"
        data-currency="INR"
        data-order_id="{{ payment.id }}"
        data-buttontext="Pay with Razorpay"
        data-name="Wanderlust"
        data-description="Test Transaction"
        data-image="https://example.com/your_logo"
        data-prefill.name="Your Name"
        data-prefill.email="Your Email"
        data-theme.color="#F37254"
    ></script>
    <input type="hidden" name="hidden">
</form>
